@page "/list"
@using Models;

<h3>List</h3>

<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Person</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _items)
        {
            <tr>
                <td>@item.Item</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>

<AddItem OnFormSubmitted="AddToList"></AddItem>

@code {

    private readonly List<ListItem> _items = null;

    public List()
    {
        _items = new List<ListItem>()
        {
            new ListItem
            {
                Item = "Apple",
                Name = "Andrew"
            }
        };
    }

    protected override async Task OnInitializedAsync()
    {

    }

    public void AddToList(ListItem thisThing)
    {
        var newItem = thisThing;
        _items.Add(newItem);
    }
}
